@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}
body{
    background-color: #000000;
    overflow-x: hidden;
    height: 100%;
}

/* HEADER/CABEÇA DO SITE, LUGARZINHO ONDE ESTÁ OS LINS E LOGO }*/

nav{
    height: 80px;
    background: #F2F2F2;
}
img{
    width: 250px;
    position: absolute;
    margin-left: 40px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    position: relative;
    color: #5C5353;
    font-family: Poppins;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 12px;
}
a.active, a:hover{
    background: #FF4301;
    color: #F2F2F2;
    border-radius: 3px;
    transition: .7s;
}
label #btn,
label #cancel{
    color: aliceblue;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1118px) {
    nav img{
        left: 5%;
    }
}
@media (max-width: 944px) {
    nav img{
        left: 4%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 12px;
    }
}

/* COMEÇO DAS PAGES! NO CASO AS SECTION }*/
               /* HOME }*/

.baixe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: Roboto;
}
.baixeaqui{
    flex-direction: column;
    gap: 5px;
}
.umbaixe{
    color: #FFFF;
    font-size: 50px;
}
.caronasum{
    color: #FF4301;
    font-size: 90px;
}
.dispo{
    color: #FFFF;
    font-size: 13px;
    left: 20px;
}
.um{
    font-size: 25px;
    color: #F2F2F2;
}
button{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    height: 44px;
    width: 200px;
    color: #2F2E41;
    margin: 0 5px;
}
.svgbaixe{
    width: 40px;
}

/* PRIMEIRA SEÇÃO }*/

.diferencial{
    background-color: #FFFFFF;
    border-radius: 15px;
}

/* SEGUNDA SEÇÃO }*/

.viajar{
    background-color: #000000;
}

/* TERCEIRA SEÇÃO }*/

.veículo{
    background-color: #FFFFFF;
}

/* QUARTA SEÇÃO }*/

.fim{
    background-color: #000000;
}


/* SCROLLBAR (BARRA DE ROLAGEM) }*/


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#FF4301;
    transition: .10s;
}
