@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Lato, Poppins;
}
body{
    background-color: #111111;
}
header{
    background-color: #F2F2F2;
    border-radius: 0px 0px 15px 15px;
}

.navbar{
    width: 80%;
    margin: auto;
    padding: 15px Q;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
h1{
    font-family: Lato;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: orangered;
    font-size: 15px;
}