@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #000000;
}
nav{
    height: 80px;
    background: #F2F2F2;
}
img{
    width: 250px;
    position: absolute;
    margin-left: 40px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    position: relative;
    color: #5C5353;
    font-family: Poppins;
    font-size: 15px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #FF4301;
    color: #F2F2F2;
    border-radius: 5px;
    transition: .7s;
}
label #btn,
label #cancel{
    color: aliceblue;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1118px) {
    nav img{
        left: 8%;
    }
}
@media (max-width: 944px) {
    nav img{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 17px;
    }
}